* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width:100%;
    height:100vh;
    justify-content: center;
    display: flex;

}

.container {
    max-width:400px;
    min-height: 100%;
    margin: auto;
    background: #f4f4f4;
    padding: 15px;
    padding-top: 70px;
    border-radius: 15px;
    align-items: center;
    display: flex;
flex-direction: column;
    flex-wrap: wrap;
align-content: stretch;
justify-content: space-between;
}

.images {
    width: 250px;
    height: 250px;
    background: #f5b133;
    border-radius: 50%;
    position: relative;
    

    &::before {
        content: "";
        width: 240px;
        height: 240px;
        background: #fff;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: "";
        width: 220px;
        height: 220px;
        background: #f5b133;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        animation: csscale 1s ease-in-out;
        animation-delay: 4s;
        transition-delay: 4s;
    }


}

@keyframes csscale {
    from {
        width: 200px;
        height: 200px;
        transition-delay: 4s;
    }

    to {
        width: 230px;
        height: 230px;
        transition-delay: 4s;
    }
}

.images img {
    position: absolute;
    z-index: 5;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
    scale: 1;
    transition: all 5s;
    animation: movegirl 2s ease-in;
    animation-iteration-count: 1;

}

@keyframes movegirl {
    from {
        bottom: 0px;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

.name {
    width: 80%;
    height: 70px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    z-index: 888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #07070759;

    & h2 {
        color: #f5b133;
        
        animation: increasesize 1s ease-in;
        animation-delay: 4s;
    }

    & p {
        text-transform: uppercase;
    }
}

@keyframes increasesize {
    from {
        font-size: 0px;
    }

    to {
        font-size: 98x;
    }
}

.heading-section {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom:30px;

    & h2 {
        font-size: 50px;
        text-align: center;
    }

    & span {
        color: #f5b133;
    }

    & p {
        text-align: justify;
    }

    & button {
        padding: 15px;
        background: #f5b133;
        border-radius: 15px;
        width: 66%;
        border: none;
        box-shadow: 0px 0px 26px #8b8484;
        &:hover {
            box-shadow: 0px 0px 10px #8b8484;
        }
    }

}