* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background:gray;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container {
    width:400px;
    height:400px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/*
.traingle {
    width: 0px;
    height:0px;
    background: #fff;
    border:200px solid skyblue;
    box-sizing:content-box;

    border-top-color:aquamarine;
    border-left-color:rgb(237, 218, 8);
    border-right-color: rgb(213, 213, 131);

}
*/

.traingle {
    width: 0px;
    height:0px;
    border: 200px solid transparent;
    border-top:0px;
    border-bottom-width:400px;
    border-bottom-color:skyblue;
}




































/*** refactored code ***/

/**
.traingle {
    width:0px;
    height:0px;
    display: block;
    border-width: 100px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color:transparent;
    border-left-width: 100px;
    border-right-color:transparent;
    border-right-width:100px;
    border-bottom-color:skyblue;
    border-bottom-width:200px;
   
}



.traingle { 
    width:0px;
    height:0px;
    border:200px  solid transparent;
    border-top:0px;
    border-bottom:400px solid black;
    
}

**/
