* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body {
    background: #000;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:10px;
    row-gap:10px;
}
h2 {
    color:#fff;
    font-size:3em;
}

.shape {

    width:200px;
    height:200px;
    background:#fff;
    clip-path: polygon(0% 50%, 100% 0% , 100% 100%);
}